/* About-us */

#about-us-section .container {
  display: grid;
  grid-template-columns: 1.25fr 2fr 2px;
  gap: 35px;
}
#about-us-section .container::after {
  content: "";
  display: flex;
  width: 3px;
  background-color: var(--2);
  height: 100%;
  box-sizing: border-box;
}

#about-us-section .img {
  overflow: hidden;
}

#about-us-section .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  #about-us-section .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 35px;
  }
  #about-us-section .container::after {
    display: none;
  }
  #about-us-section .img img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  #about-us-section .img img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

/* About-us */
/*  */
/* Teachers */

#teacher-section .teachers {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#teacher-section .teacher-content {
  position: relative;
  cursor: pointer;
}

#teacher-section .teacher-content p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--6);
  border: 3px solid var(--2);
  box-sizing: border-box;
  padding: 6px 0;
  text-align: center;
}

#teacher-section .content-text {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

#teacher-section .content-text:before,
#teacher-section .content-text:after {
  content: "";
  display: flex;
  width: 100%;
  height: 2px;
  background-color: var(--8);
  margin: auto 0;
}

#teacher-section .content-text p {
  text-align: center;
}

@media (max-width: 890px) {
  #teacher-section .teacher-content {
    height: 280px;
    overflow: hidden;
  }
  #teacher-section .teacher-content img {
    width: 180px;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 800px) {
  #teacher-section .teacher-content {
    height: 200px;
    overflow: hidden;
  }
  #teacher-section .teacher-content img {
    width: 140px;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 600px) {
  #teacher-section .content-text {
    display: flex;
  }
  #teacher-section .content-text:before,
  #teacher-section .content-text:after {
    display: none;
  }
}
@media (max-width: 680px) {
  #teacher-section .teachers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
  }
  #teacher-section .teacher-content {
    height: 100%;
    overflow: visible;
  }
  #teacher-section .teacher-content img {
    width: 100%;
  }
}

/* Teachers */
/*  */
/* Classes */

#group-section .groups {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#group-section .group-content {
  background-color: var(--3);
  border-radius: var(--border-radius-value);
  display: flex;
  flex-direction: column;
}

#group-section .group-content p {
  color: var(--8);
  font-weight: 400;
  padding: 8px 8px;
  text-align: center;
}

#group-section .group-content p:first-of-type {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

#group-section .group-content p + p {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin-top: 0;
}

#group-section .group-content h3 {
  padding: 20px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--8);
}

#group-section .group-content button {
  margin: 20px auto;
}

#group-section .group-content button:active {
  border: 2px solid var(--1);
}

@media (max-width: 790px) {
  #group-section .groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (max-width: 400px) {
  #group-section .groups {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  #group-section .group-content {
    width: 250px;
    margin: 0 auto;
    max-width: 100%;
  }
}

/* Classes */
/*  */
/* Assessment */

#assessment-section .content-text {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

#assessment-section .content-text p {
  text-align: center;
}

#assessment-section .content-text button {
  background-color: #00000000;
  border: none;
  width: min-content;
  cursor: pointer;
}

#assessment-section .content-text button:first-of-type {
  margin-left: auto;
}
#assessment-section .content-text button:last-of-type img {
  transform: scaleX(-1);
}

@media (max-width: 600px) {
  #assessment-section .content-text {
    display: grid;
    grid-template-columns: auto 2fr auto;
    gap: 30px;
  }

  #assessment-section .content-text button img {
    width: 8vw;
  }

  #assessment-section .content-text button {
    height: 100%;
  }
}
