@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;600&family=Roboto&display=swap");

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

:root {
  --1: #1c4e4a;
  --2: #28746f;
  --3: #349b93;
  --4: #42c1b7;
  --5: #67cec7;
  --6: #f3f3f3;
  --7: #0a0a0a;
  --8: #f4fbff;
  --9: #ff2f2f;
  --10: #37a49b;
  --border-radius-value: 8px;
}

.container {
  width: 1055px;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--8);
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section:first-child {
  padding-top: 35px;
}

section:nth-child(even) {
  background-color: var(--3);
}

section:nth-child(even) h2 {
  color: var(--8);
}

section:nth-child(even) h2:after {
  background-color: var(--8);
}

section.waves {
  background-image: url(../imgs/waves.svg);
}

p {
  color: var(--7);
  font-size: 0.95rem;
  text-align: justify;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}

p + p {
  margin-top: 15px;
}

p.small {
  font-size: 0.875rem;
}

.white p,
p.white,
.white {
  color: var(--6);
}

p.white {
  letter-spacing: 1px;
}

h1.logo {
  font-family: "Dancing Script", cursive;
  font-size: 2.6rem;
  font-weight: 700;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
}

img:not(img.icon):not(img.banner) {
  z-index: 0;
  border: 3px solid var(--2);
  box-sizing: border-box;
}

.title-h2,
.title-h3 {
  width: min-content;
  white-space: nowrap;
  margin: 0 auto 25px auto;
}

h2 {
  font-family: "Dancing Script", cursive;
  color: var(--3);
  font-size: 2rem;
  font-weight: 400;
}

h2::after {
  content: "";
  display: block;
  width: 150%;
  height: 2px;
  background-color: var(--2);
  margin: 5px -25% 0 -25%;
}

@media (max-width: 550px) {
  h2::after {
    width: 100%;
    margin: 5px auto 0 auto;
  }
}

.title-h3 h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.35rem;
  margin-top: 40px;
}
.title-h3 h3::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--8);
  margin: 5px auto 0 auto;
}

.call-button {
  margin: 35px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min-content;
  white-space: nowrap;
}

@media (max-width: 400px) {
  .call-button {
    margin: 35px auto 0 auto;
    align-items: center;
    width: 80vw;
    max-width: 100%;
    white-space: wrap;
  }
  .call-button p {
    white-space: pre-wrap;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
  }
}

.call-button p {
  margin-top: 10px;
}

.call-button button,
button.button,
.call-button > input {
  background-color: var(--9);
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--8);
  padding: 6px 30px;
  border-radius: var(--border-radius-value);
  margin: 0 auto;
  cursor: pointer;
}

/* Scrolbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--8s);
}

::-webkit-scrollbar-thumb {
  background: var(--5);
}

/* Scrolbar */

textarea {
  resize: none;
}
